<div class="profile center-text">
	<h3>User Login</h3>
	<%= form_for(:session, url: login_path) do |f| %>
			<%= f.label :username %><br>
			<%= f.text_field :username %><br>

			<%= f.label :password %><br>
			<%= f.password_field :password %><br><br>

			<%= f.submit "Login" %><br>
	<% end %>
<br>
	<%= link_to "Create Account", new_user_path %>
</div>
