
<table class="table">
  <thead>
    <tr>
      <th>Image</th>
      <th>Title</th>
      <th>Description</th>
      <th>Price</th>
      <th>Status</th>
      <th>Edit</th>
    </tr>
  </thead>
  <tbody>
    <% @items.each do |item| %>
    <tr>
      <th><img class="admin-item-thumb" src="<%= item.image %>" alt=""></th>
      <td><%= item.title %></td>
      <td><%= item.description %></td>
      <td>$<%= item.formatted_price %></td>
      <td><%= item.status %></td>
      <td><%= link_to "Edit", edit_admin_item_path(item) %></td>
    </tr>
    <% end %>
  </tbody>
</table>
