<% if current_user.business_admin? || current_user.platform_admin? %>
  <%= link_to "Edit Business", "/#{@store.slug}/edit" %>
  <%= link_to "Manage Admins", "/#{@store.slug}/admins" %>
<% end %>

<div class="category-show-title-div">
  <h3 class="category-show-title center-text"><%= @store.name %></h3>
</div>
<div class="row items-row">
  <% @store.items.each do |item| %>
  <div class="col-md-3 item-card">
    <div class="item_card index_item_<%= item.id %> item">
      <img class="item-card-img" src="<%= item.image %>" alt="">
      <h3><%= link_to item.title, item_path(item) %></h3>
      <% if item.active? %>
      <%= link_to "Add to Cart", cart_path(item_id: item.id), method: :post, class: "cart-button btn btn-outline-info" %>
      <% else %>
      <button type="button" class="cart-button-retired btn btn-danger">Item Retired</button>
      <% end %>
      <br><br>
      <div class="items-break-line"></div>
    </div>
  </div>
  <% end %>
</div>
