<h1>All orders for <%= current_user.username %></h1>

<ul>
<% current_user.orders.each do |order| %>
	<li>
		Order id: <%= order.id %><br>
		<%= order.created_at.to_formatted_s(:long_ordinal) %><br>
		Status: <%= order.status %>
	</li>
	<%= link_to "View Order", order_path(order) %>
<% end %>
</ul>

