<h1>Order <%= @order.id %></h1>

<ul>
	<%= @items.each do |item| %>
	<li>
		Title: <%= item.title %>
		Quantity: <%= @order.item_quantity(item) %>
		Subtotal: <%= @order.item_subtotal(item) %>
		<%= link_to "View Item", item_path(item) %>
	</li>
	<% end %>
</ul>