<% @items.each do |item| %>
<div class="item-<%= item.id %>">
<%= image_tag(item.image, class: "item_thumbnail") %>
<h5><%= item.title %></h5>
<p><%= item.description %></p>
<p>$<%= item.formatted_price %></p>
<%= form_tag(cart_path, method: :patch) do %>
  <%= hidden_field_tag(:item_id, item.id) %>
  <%= label_tag("Quantity") %>
  <%= text_field_tag("Quantity", "#{@cart.quantity(item)}") %>
  <%= submit_tag("Update") %>
<% end %>
<p>Item Subtotal: $<%= @cart.subtotal(item) %></p>
<%= link_to "Remove Item", cart_path(id: item.id), method: :delete %>
</div>
<% end %>

<p>Total: $<%= @cart.total %></p>

<div class="cart_checkout">
	<% if current_user %>
		<%= link_to "Checkout", cart_path %> 
	<% else %>
		<%= link_to "Login or Create Account to Checkout", login_path %>
	<% end %>
</div>
	 
