<h1 class="center-text">ITEM SHOW PAGE</h1>
<hr>
<div class="row items-row">
  <div class="col-md-4">

    <img class="item-show-image" src="<%= @item.image.url %>" alt="">
  </div>

  <div class="col-md-8">
    <h1 class="h-tag-no-top-margin-title"> <%= @item.title %></h1>
    <h4>Price: $<%= @item.formatted_price %> each</h4>
    <p><%= @item.description %></p>
  <div class="item-show-button">
  <% if @item.active? %>
  <%= link_to "Add to Cart", cart_path(item_id: @item.id), method: :post, class: "cart-button btn btn-outline-info" %><br>
  <% else %>
  <button type="button" class="cart-button-retired btn btn-danger">Item Retired</button>
  <% end %>
</div>
  </div>

</div>
