<div class="dashboard-wrapper">
    <h1>Admin Dashboard</h1>
    <div class="metrics-wrapper">
        <h3>Metrics</h3>
        <div class="jumbotron">
            <div class="row">
                <div class="col-md-4">
                    <h4 class="graph-title"># of Orders by Month</h4>
                    <%= line_chart Order.orders_by_month %>
                </div>
                <div class="col-md-4">
                    <h4 class="graph-title"># of Orders by Day</h4>
                    <%= column_chart Order.orders_by_day_of_week %>
                </div>
                <div class="col-md-4">
                    <h4 class="graph-title"># of Items by Category</h4>
                    <%= pie_chart Category.items_in_category %>
                </div>
            </div>
        </div>
    </div>

    <div class="control-panel-wrapper">
        
    </div>

    <div class="dashboard_orders_header">
        <p><%= link_to "All Orders", admin_dashboard_path %>: <%= Order.count %></p>
        <p><%= link_to "Ordered Orders", '/dashboard?orders=ordered' %>: <%= Order.ordered.count %></p>
        <p><%= link_to "Paid Orders", '/dashboard?orders=paid' %>: <%= Order.paid.count %></p>
        <p><%= link_to "Cancelled Orders", '/dashboard?orders=cancelled' %>: <%= Order.cancelled.count %></p>
        <p><%= link_to "Completed Orders", '/dashboard?orders=completed' %>: <%= Order.completed.count %></p>
    </div>

    <div class="dashboard_orders">
        <% @orders.each do |order| %>
            Id: <%= order.id %>
            Created At: <%= order.created_at %>
            Updated At: <%= order.updated_at %>
            Status: <%= order.status %>
            <%= link_to "View Order", order_path(order) %>
        <% end %>
    </div>
</div>