<div class="dashboard-wrapper">
    <h1>Admin Dashboard</h1>
    <hr>
    <br>
    <div class="metrics-wrapper">
        <br>
        <div class="container">
            <div class="card">
                <div class="card-header">
                    <h3>Metrics</h3>
                </div>
                <div class="card-block">
                <div class="row">
                    <div class="col-md-4">
                        <h4 class="card-title graph-title"># of Orders by Month</h4>
                        <%= line_chart Order.orders_by_month, class: 'card-text' %>
                    </div>
                    <div class="col-md-4">
                        <h4 class="card-header graph-title"># of Orders by Day</h4>
                        <%= column_chart Order.orders_by_day_of_week, class: 'card-text' %>
                    </div>
                    <div class="col-md-4">
                        <h4 class="card-header graph-title"># of Items by Category</h4>
                        <%= pie_chart Category.items_in_category, class: 'card-text' %>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </div>
    <br>
    <br>
    <div class="control-panel-wrapper">
        <div class="row">
            <div class="col-xs-6 col-md-4">
                <%= link_to "Add New Item", new_admin_item_path, type: "button", class: "btn btn-success btn-large btn-block" %>
            </div>
            <div class="col-xs-6 col-md-4">
              <%= link_to 'Edit Admin', edit_user_path(current_user), type: "button", class: "btn btn-success btn-large btn-block" %>
            </div>
            <div class="col-xs-6 col-md-4">
                <%= link_to 'View Items', admin_items_path, type: "button", class: "btn btn-success btn-large btn-block" %>
            </div>
        </div>
    </div>

    <div class="dashboard_orders_header">
        <p><%= link_to "All Orders", admin_dashboard_path %>: <%= Order.count %></p>
        <p><%= link_to "Ordered Orders", '/admin/dashboard?orders=ordered' %>: <%= Order.ordered.count %></p>
        <p><%= link_to "Paid Orders", '/admin/dashboard?orders=paid' %>: <%= Order.paid.count %></p>
        <p><%= link_to "Cancelled Orders", '/admin/dashboard?orders=cancelled' %>: <%= Order.cancelled.count %></p>
        <p><%= link_to "Completed Orders", '/admin/dashboard?orders=completed' %>: <%= Order.completed.count %></p>
    </div>

    <div class="dashboard_orders">
        <% @orders.each do |order| %>
        <div class="admin_index_order<%= order.id %>">
            Id: <%= order.id %>
            Created At: <%= order.created_at %>
            Updated At: <%= order.updated_at %>
            Status: <%= order.status %>
            <%= link_to "View Order", order_path(order) %>
            <% if (order.paid? || order.ordered?) %>
                <%= link_to "Cancel", cancel_order_path(order) %>
            <% end %>
            <% if order.ordered? %>
                <%= link_to "Mark as Paid", mark_paid_order_path(order) %>
            <% end %>
            <% if order.paid? %>
                <%= link_to "Mark as Completed", mark_completed_order_path(order) %>
            <% end %>
        </div>
        <% end %>
    </div>
</div>
